.form {
  background-color: $color-primary;

  @include lg-min {
    height: 120px;
  }

  @include lg-md {
    height: 100px;
  }

  @include md-sm {
    height: 182px;
  }

  @include sm {
    height: 262px;
  }

  &__container {
    @extend %container;
    height: 100%;
    display: grid;
    align-items: center;

    @include lg-min {
      grid-template-columns: repeat(3, calc(33.3% - 15px));
      grid-gap: $gap;
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $gap;
      padding: 0 $gap;
    }

    @include md-sm {
      grid-template-columns: 1fr 1fr;
      grid-gap: $gap;
      padding: $gap;
    }
  }

  &__input {
    @extend %input-theme;

    @include lg-min {
      margin-left: -$gap / 4;
      @include letter-size(1.25rem, 0.05em);
      @include padding(null, null, null, $gap * 1.5);
    }

    @include lg-md {
      @include letter-size(1rem, 0.1em);
      @include padding(null, null, 3px, 22px);
    }

    @include md-sm {
      grid-column: 1 / span 2;
      @include letter-size(1.125rem, 0.1em);
      @include padding(null, null, null, 23px);
    }

    @include sm {
      @include letter-size(1.125rem, 0.1em);
      @include padding($gap / 2, null, null, 22px);
      @include margin(6px, $gap, 0, $gap);
    }

    &::placeholder {
      color: $color-light;
    }

    &--accent {
      @extend %input-theme;

      @include lg-min {
        @include letter-size(1.25rem, 0.05em);
        @include padding(null, null, null, $gap *1.5);
        @include margin(null, null, null, -$gap / 4);
      }

      @include lg-md {
        @include letter-size(1rem, 0.1em);
        @include padding(null, null, 6px, 23px);
      }

      @include md-sm {
        @include letter-size(1.125rem, 0.1em);
        @include padding(null, null, null, 22px);
      }

      @include sm {
        @include letter-size(1.125rem, 0.1em);
        @include padding(null, null, null, 22px);
        @include margin(6px, $gap, 0, $gap);
      }

      &::placeholder {
        color: rgba($color-light, 0.5);
      }

      &:focus {
        @extend %input-focus;
      }
    }

    &:focus {
      @extend %input-focus;
    }
  }

  &__btn {
    border: none;
    border-bottom: 2px solid rgba($color-light, 0.25);
    color: $color-light;

    font-size: 1.25rem;
    letter-spacing: 0.05em;

    @include lg-md {
      height: 60px;
      padding-left: 25px;
      letter-spacing: 0.1em;
    }

    @include md-sm {
      @include letter-size(1.125rem, 0.1em);
      height: 60px;
      padding-left: 25px;
      width: 352px;
    }

    @include sm {
      @include letter-size(1.125rem, 0.1em);
      @include margin(0, $gap, 12px, $gap);
      height: 60px;
      padding-left: 25px;
    }
  }
}
