.posts {
  &__container {
    @extend %container;
  }

  &__tittle {
    font-family: $font-header;
    color: $color-primary;
    letter-spacing: 0.1em;

    @include lg-min {
      @include padding($gap * 3, null, $gap, null);
      font-size: 2.5rem;
    }

    @include lg-md {
      @include padding(48px, null, 13px, $gap);
      font-size: 2rem;
    }

    @include md-sm {
      @include padding(36px, null, 9px, $gap);
      font-size: 1.5rem;
    }

    @include sm {
      @include padding(34px, null, 9px, null);
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &-item {
    overflow: hidden;
    position: relative;
    height: 550px;

    &--wrapper {
      display: grid;
      grid-gap: $gap;

      @include lg-min {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
      }

      @include lg-md {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "b1 b1 b2" "b3 b4 b4" "b5 b5 b6";
        padding: 0 20px;
      }

      @include md-sm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "b1 b2" "b3 b4" "b5 b6";
        padding: 0 20px;
      }

      @include sm {
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
        padding: 0 20px;
      }
    }

    &:nth-of-type(1) {
      grid-area: b1;
    }
    &:nth-of-type(2) {
      grid-area: b2;
    }
    &:nth-of-type(3) {
      grid-area: b3;
    }
    &:nth-of-type(4) {
      grid-area: b4;
    }
    &:nth-of-type(5) {
      grid-area: b5;
    }
    &:nth-of-type(6) {
      grid-area: b6;
    }

    &__image {
      @include abs-position($b: 45.5%);
      background-position: 50% 50%;
      background-size: cover;
      transition: transform 0.5s;
    }

    &__info {
      @include abs-position($t: 54.5%);
      height: 250px;
      display: grid;
      align-content: center;
      padding: 28px;
      background-color: darken($color-light, 7%);
      transition: 0.5s;
    }

    &__tittle {
      text-align: center;
      font-family: $font-header;
      @include letter-size(1.125rem, 0.05em);
      transition: 0.5s;
      margin: 0;
    }

    &__caption {
      text-align: center;
      letter-spacing: 0;
      transition: 0.5s;
      margin-top: $gap;
    }

    &:hover {
      .posts-item__image {
        transform: scale(1.1);
      }
      .posts-item__info {
        background-color: darken($color-light, 20%);
      }
      .posts-item__tittle {
        color: $color-primary;
      }
      .posts-item__caption {
        color: $color-primary;
      }
    }
  }

  &__button {
    margin: 0 auto;
    padding-top: $gap;

    @include lg-min {
      max-width: 350px;
      padding-bottom: $gap * 5;
    }
    @include lg-md {
      max-width: 350px;
      padding-bottom: $gap * 4;
    }
    @include md-sm {
      max-width: 350px;
      padding-bottom: $gap * 3;
    }

    @include sm {
      padding-bottom: $gap * 3;
      @include padding($gap, $gap, $gap * 3, $gap);
      display: grid;
      grid-template-columns: 1fr;
    }

    a {
      @include lg-md {
        height: 60px;
        @include padding(18px, 16px, null, null);
      }
    }
  }
}
