.about {
  position: relative;

  @include lg-min {
    min-height: 652px;
  }

  @include lg-md {
    max-height: 563px;
  }

  @include md-sm {
    max-height: 479px;
  }

  &__overlay {
    @include abs-position;
    background-color: $color-gray-light;
    z-index: -1;
  }

  &__container {
    display: grid;
    position: relative;
    @extend %container;

    @include lg-min {
      grid-template-columns: 1fr 271px;
      grid-gap: $gap * 5;
    }

    @include lg-md {
      grid-template-columns: 1fr 255px;
      grid-gap: $gap * 3;
      padding-right: $gap * 1.5;
    }

    @include md-sm {
      grid-template-columns: 1fr 236px;
      grid-gap: $gap * 3;
      padding-right: $gap * 2;
    }

    @include sm {
      padding-left: $gap;
    }
  }

  &__content {
    display: grid;
    position: relative;

    @include lg-min {
      @include padding(69px, null, null, null);
    }

    @include lg-md {
      @include padding(55px, null, null, $gap);
    }

    @include md-sm {
      @include padding(42px, null, null, 22px);
      line-height: 1.25;
    }

    @include sm {
      @include padding($gap * 3, null, null, null);
    }

    &--caption {
      @include lg-min {
        @include padding(54px, null, null, null)
      }

      @include lg-md {
        max-height: 315px;
        max-width: 630px;
        margin-bottom: 70px;
        overflow: scroll;
      }
      @include md-sm {
        max-height: 275px;
        max-width: 414px;
        margin-bottom: 42px;
        overflow: scroll;
      }
      @include sm {
        max-height: 315px;
        max-width: 532px;
        margin-bottom: 43px;
        overflow: scroll;
      }
    }

    &::after {
      position: absolute;
      height: 200px;
      background-color: darken($color-light, 22.5%);
      width: 1px;
      content: "";

      @include lg-min {
        top: 243px;
        right: -59px;
      }

      @include lg-md {
        top: 182px;
        right: -28px;
      }

      @include md-sm {
        top: 152px;
        right: -23px;
      }

      @include sm {
        display: none;
      }
    }

    h2 {
      font-family: $font-header;
      color: $color-primary;

      @include lg-min {
        @include letter-size(2.5rem, 0.1em);
        margin-bottom: -23px;
        line-height: 1.2;
      }

      @include lg-md {
        @include letter-size(2rem, 0.1em);
        margin-bottom: 22px;
      }

      @include md-sm {
        @include letter-size(1.5rem, 0.095em);
        margin-bottom: 0;
      }

      @include sm {
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 1.25;
        margin: 0 auto;
        padding-right: 15px;
        margin-bottom: 25px;
      }
    }

    p {

      @include md-min {
        @include letter-size(1.125rem, 0.05em);
        line-height: 1.25;
        margin-bottom: 25px;
      }

      @include md-sm {
        @include letter-size(1.075rem, 0.0125em);
        line-height: 1.4;
        @include margin(0, null, 15px, null);
      }

      @include sm {
        line-height: 1.4;
        @include letter-size(1.075rem, 0.0125em);
        margin-top: 0;
      }
    }
  }

  &__image {
    display: grid;

    @include lg-min {
      @include padding(95px, null, null, null);
    }

    @include lg-md {
      transform: scale(0.95);
      @include padding(69px, null, null, null);
    }

    @include md-sm {
      transform: scale(0.85);
      @include padding(2px, null, null, 4px);
    }

    @include sm {
      width: 270px;
      justify-self: center;
      @include padding(null, null, 67px, 2px);
    }
  }
}
