* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-main;
  letter-spacing: 0.1em;
  overflow-y: scroll;
  color: $color-gray;
}

h1 {
  font-family: $font-header;
  font-weight: 300;

  @include lg-min {
    font-size: 3.75rem;
    letter-spacing: 0.075em;
  }

  @include lg-md {
    font-size: 2.5rem;
    letter-spacing: 0.08em;
  }

  @include md {
    font-size: 1.875rem;
    letter-spacing: 0.075em;
  }
}
a {
  text-decoration: none;
  color: $color-light;
}
a:visited {
  color: $color-light;
}

.btn {
  background-color: rgba($color-light, 0.1);
  border: 2px solid $color-light;
  min-width: 250px;
  padding-top: 18px;
  @extend %btn-common;

  @include lg-md {
    min-width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: 16px 20px;
  }

  @include md {
    min-width: 170px;
    height: 40px;
    font-size: 1rem;
    padding: 7px 20px;
  }
}

.btn-accent {
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  @extend %btn-common;

  @include sm-min {
    min-width: 350px;
  }

  @include sm {
    width: 100%;
  }
}
