* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
  font-family: $font-main;
  letter-spacing: 0.1em;
  overflow-y: scroll;
  color: $color-gray;
}

h1 {
  font-family: $font-header;
  font-weight: 300;

  @include lg-min {
    @include letter-size(3.75rem, 0.08em);
  }

  @include lg-md {
    @include letter-size(2.5rem, 0.08em);
  }

  @include md {
    @include letter-size(1.875rem, 0.075em);
  }
}
a {
  text-decoration: none;
  color: $color-light;
}
a:visited {
  color: $color-light;
}

.btn {
  background-color: rgba($color-light, 0.1);
  border: 2px solid $color-light;
  min-width: 250px;
  @extend %btn-common;
  @include letter-size(1.125rem, 0.1em);
  @include padding(18px, $gap, null, null);

  @include lg-md {
    font-size: 1rem;
    min-width: 200px;
    height: 50px;
    padding: 13px 20px;
  }

  @include md {
    font-size: 1rem;
    min-width: 170px;
    height: 40px;
    padding: 9px 20px;
  }

  @include sm {
    padding: 9px 20px;
  }
}

.btn-accent {
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
  @include letter-size(1.125rem, 0.1em);
  @extend %btn-common;

  @include lg-md {
    height: 66px;
    padding-top: 22px;
  }

  @include sm-min {
    min-width: 350px;
  }

  @include sm {
    width: 100%;
  }
}
