%btn-common {
  display: block;
  padding: 18px 20px;
  transition: background-color 0.5s;
  text-align: center;
  height: 60px;

  &:hover {
    background-color: $color-accent;
  }
}

%container {
  max-width: $ul;
  margin: auto;
}

%input-theme {
  height: 60px;
  align-items: center;
  padding-left: $gap * 1.5;
  margin-left: -$gap / 4;
  color: $color-light;
  background-color: rgba($color-light, 0.05);
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  border: none;
  border-bottom: 2px solid rgba($color-light, 0.10);
  outline: none;
}

%input-focus {
  background-color: rgba($color-light, 0.15);
  border: 2px solid rgba($color-light, 0.10);
  border-bottom: 2px solid $color-light;
}
