%btn-common {
  display: block;
  padding: 18px 20px;
  transition: background-color 0.5s;
  text-align: center;
  height: 60px;
  font-family: $font-main;

  &:hover {
    background-color: $color-accent;
  }
}

%container {
  max-width: $ul;
  margin: auto;
}

%input-theme {
  height: 60px;
  align-items: center;
  background-color: rgba($color-light, 0.05);
  font-family: $font-main;
  border: none;
  border-bottom: 2px solid rgba($color-light, 0.1);
  outline: none;
  transition: background-color 0.5s, border-bottom 0.5s;
}

%input-hover {
  background-color: rgba($color-light, 0.15);
  border: 2px solid rgba($color-light, 0.1);
  border-bottom: 2px solid $color-light;
  padding: 5px 5px 5px 30px;
}

%txt-center {
  margin: 0 auto;
  text-align: center;
}
