.footer {
  height: 250px;
  background-color: $color-primary;
  display: grid;
  align-content: center;
  position: relative;

  &__social {
    @extend %txt-center;
    font-size: 2.5rem;

    a {
      transition: color 0.5s;
    }

    a:hover {
      color: $color-accent;
    }

    &::after {
      position: absolute;
      height: 2px;
      width: 75px;
      background-color: $color-gray-dark;
      content: "";

      @include lg-min {
        top: 46%;
        left: 48%;
      }

      @include lg-md {
        top: 45%;
        left: 46.3%;
      }

      @include md-sm {
        top: 48%;
        left: 45.1%;
      }

      @include sm {
        top: 50%;
        left: 43.5%;
      }
    }
  }

  &__copyright {
    @extend %txt-center;
    @include padding(null, null, $gap, null);

    @include lg-min {
      @include padding($gap * 3, null, null, null);
    }

    @include lg-md {
      @include padding($gap * 2.5, null, null, $gap / 4);
    }

    @include md-sm {
      @include padding(68px, null, null, $gap / 4);
    }

    @include sm {
      @include padding(76px, null, null, $gap / 4);
    }

    span {
      font-weight: 300;
      letter-spacing: 0.3em;

      &:nth-of-type(2) {
        font-weight: 900;
        color: $color-light;
        letter-spacing: 0.05em;
      }
    }
  }
}
