
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";


@media (min-width: 576px + 1) {
  .header-content__buttons .btn:first-of-type {
    margin-right: 17px;
  }
}

@media (min-width: 768px + 1) {
  .header-navbar__hamburger {
    display: none;
  }
  .header-navbar__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    width: 100%;
    justify-content: end;
    padding-right: 0px;
  }
}

@media (min-width: 992px + 1) {
  h1 {
    font-size: 3.75rem;
    letter-spacing: 0.075em;
  }
}

@media (max-width: 992px) {
  
}

@media (max-width: 992px) and (min-width: 768px + 1) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.08em;
  }
  .header-content__container {
    padding-top: 74px;
    padding-left: 25px;
  }
  .btn {
    min-width: 200px;
    height: 50px;
    font-size: 1rem;
    padding: 16px 20px;
  }
  .header-navbar__link {
    padding-top: 33px;
    padding-left: 36px;
  }
}

@media (max-width: 768px) {
  .header-navbar__hamburger {
    display: block;
    margin: 36px 0
  }
  .header-navbar__list {
    display: none;
  }
  .header-menu {
    background-color: rgba(68, 89, 110, 0.25);
  }
  .header-logo__link {
    padding-left: 19px;
    padding-top: 7px;
  }
  h1 {
    font-size: 1.875rem;
    letter-spacing: 0.075em;
  }
  .btn {
    min-width: 170px;
    height: 40px;
    font-size: 1rem;
    padding: 7px 20px;
  }
  .header-content__container {
    padding-bottom: 162px;
    padding-left: 25px;
  }
}

@media (max-width: 576px) {
  .header-content__container {
    padding-bottom: 0px;
    padding-left: 25px;
  }
  .header-content__buttons .btn:first-of-type {
    margin-bottom: 17px;
  }
  .header-content__buttons {
    flex-direction: column;
    align-items: center;
  }
}
