.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  @include md {
      background-color: rgba(68, 89, 110, 0.25);
    }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    @include padding($gap, null, $gap, null);
    @extend %container;

    @include md {
      @include padding(0, null, 4px, null);
    }
  }
}
