.header-logo {
  align-self: center;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;

  @include lg {
    padding-left: 24px;
  }

  &__link {
    padding-top: 36px;
    display: block;

    @include md {
      padding-top: 7px;
    }
  }

  &__accent {
    padding: 12px 2px 14px 3px;
    border: 2px solid $color-highlight;
    margin-right: 5px;
  }
}
