.header-content {
  position: relative;

  &__container {
    max-width: $ul;
    margin: auto;
    padding-bottom: 40px;
    padding-left: 13px;
    padding-right: 21px;
  }

  &__title {
    text-align: center;
    padding-right: 7px;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.075em;
    padding-top: 14px;
  }
}
