.header-logo {
  align-self: center;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;

  &__link {
    padding-top: 36px;
    padding-left: 17px;
    display: block;

    @media (max-width: $md) {
      padding-left: 19px;
      padding-top: 7px;
    }
  }

  &__accent {
    padding: 12px 2px 14px 7px;
    border: 2px solid $color-highlight;
    margin-right: 5px;
  }
}
