.header-content {
  position: relative;

  &__container {
    padding-bottom: 40px;
    @extend %container;

    @include lg-md {
      padding-top: 74px;
      padding-left: 25px;
    }

    @include md {
      padding-bottom: 232px;
      padding-left: 25px;
    }

    @include sm {
      padding-bottom: 0px;
      padding-left: 25px;
    }
  }

  &__title {
    text-align: center;
    padding-right: 15px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 0.075em;
    padding-top: 14px;

    @include sm-min {
      .btn:first-of-type {
        margin-right: 20px;
      }
    }

    @include sm {
      flex-direction: column;
      align-items: center;

      .btn:first-of-type {
        margin-bottom: 17px;
      }
    }
  }
}
